<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to AutoGrade Home Page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/student_assignment.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</head>

<body>

    <main role="main" class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">AutoGrader</a>
            </nav>
        </header>

        <div class="starter-template">
            <div class="container-fluid">
                <form id="professorCreation" action="#" enctype="multipart/form-data" method="post" th:action="@{/professor}" th:object="${professorCreation}">
                    <div class="createProfessor">
                        <h2 class="col-xs-12 assignemtSub--heading pb-4 mt-2 ml-2">Professor Creation
                        </h2>

                        <div class="form-group">
                            <label for="professorName" class="col-sm-2 col-form-label pl-0">Name</label>
                            <div class="col-sm-10 form-group-content">
                                <input type="text" id="professorName" class="custom-valid-input restrictInput" name="Name" pattern="[a-zA-Z0-9\s'-]+" placeholder="Name" maxlength="35" required="true" aria-label="name">
                                <p class="error-msg-text" hidden="true">Name is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirth" class="col-sm-2 col-form-label pl-0">Date of Birth</label>
                            <div class="col-sm-10 form-group-content">
                                <input type="date" id="dateOfBirth" class="custom-valid-input" name="dateOfBirth" required="true" aria-label="date Of Birth">
                                <p class="error-msg-text" hidden="true">Date of birth is required
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 col-form-label p-0">Module Coordinator</label>
                            <div class="col-sm-10 form-group-content">
                                <select id="moduleCoordinator" class="custom-valid-input p-0" name="moduleCoordinator">
                                          <option value="">Select</option>
                                          <option value="OS">OS</option>
                                          <option value="Computer Networking">Computer Networking</option>
                                </select>
                                <p class="error-msg-text" hidden="true">Module Coordinator is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="activePosting" class="col-sm-2 col-form-label p-0">Active Posting Allowed</label>
                            <div class="col-sm-10 form-group-content">
                                <select id="activePosting" class="custom-valid-input" name="active posting" aria-label="Active Posting Allowed : select Yes, No">
                                    <option value="">Select</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <p class="error-msg-text" hidden="true">This field is required</p>
                            </div>
                        </div>

                        <div class="form-group row mt-5 ml-1">
                            <button class="btn save mr-4 btn-primary " id="save" type="button">Submit</button>
                            <button class="btn btn-cancel mr-4 clear btn-secondary" id="clear" type="button">Clear</button>
                            <button class="btn btn-cancel mr-4 clear btn-secondary" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script>
        let isValidAssignemnt = true;
        const formDetailsContent = '.form-group-content';
        let emailValidation = true;

        const createProfessor = {
            submitForm() {
                if (isValidAssignemnt) {
                    alert("Form is submitted");
                    $('#professorCreation').submit();
                    $('#save').text('Resubmit');
                }
            },

            validateInput() {
                isValidAssignemnt = true;
                $('.custom-valid-input').each(function() {
                    if (
                        $(this).val() === null ||
                        $(this)
                        .val()
                        .trim() === ''
                    ) {
                        $(this)
                            .parent()
                            .find('.error-msg-text')
                            .attr('hidden', false);
                        $(this).addClass('error-msg-textbox');
                        isValidAssignemnt = false;
                    } else {
                        $(this)
                            .parent()
                            .find('.error-msg-text')
                            .attr('hidden', true);
                        $(this).removeClass('error-msg-textbox');

                    }
                });

                createProfessor.submitForm();
            },

            resetFields() {
                $('form :input').val('');
                $('.custom-valid-input').siblings('.error-msg-text')
                    .attr('hidden', true);
                $('.custom-valid-input').siblings('.invalid-emailError')
                    .attr('hidden', true);
            },

            init() {
                $(document).on('click', '#save', this.validateInput);
                $(document).on('click', '.clear', this.resetFields);
            },

        };
        createProfessor.init();
    </script>
</body>

</html>